<% layout('layout') -%>
    <canvas id="maincanvas"></canvas>
    <div class='maindiv'>
      <div class='tab' id='tab_index' align=center>
        <img id="bug" src="/img/bug.png">
        <br>
        <pre id="contact">Javascript is required to decrypt contact details</pre> 
        <br>
        
        <div class='links'>
<!--          <span class="gimmespace small link" id="button_about">
            about
          </span>-->

          <span class="gimmespace mainlink">
            <a href='https://github.com/leshy/'>github</a>
          </span>

          <span class="gimmespace mainlink">
            <a href='blog/'>blog</a>
          </span>

          <span class="gimmespace mainlink">
            <a href='projects/'>projects</a>
          </span>


          <span class="gimmespace mainlink">
            <a href='http://last.fm/user/lesh'>lastfm</a>
          </span>

          <span class="gimmespace mainlink">
            <a href='oldsite/'>old site</a>
          </span>
        </div>
        
        <br>
        <div><span class="small"><a href="lesh.asc">pgp key 4096R/96085C00</a></span></div>
        <br>
        <span class="smaller"><a href="index.sig">this page is signed</a></span>
        
      </div>
    </div>
    <script type="text/javascript">

      // the contact data is encrypted to avoid spam
      // this html file should be signed with http://lesh.sysphere.org/index.sig

      var key="fRQ45LMTrQ5trjvHPQ8WRrU7AfM1EFCxFS6LCTBe";

      var data = "d8e39d482d291b6034cce9663d8dd780a303519888d4ba6173f2d4a2e47dc523bbb557a857e933aa5c790f84892eea1f26eb277db0bf33f8f109f4e0334e578d26f7137b1d080a085c19b84fbed49c2f912b0b2473937ea6ec15563fc7f72af99843cbee61547a9d07be7fbe12eb00c37744c0b10cb6d89e7ef224a9267ac47289c5f26dd6031e259439fadefdf6aeac5a6a210d9873bc7634ae1e5b040efb8eac7fe4c826beb6af248b997eca3ff02fd796d90aeee3f6ba9b198be8c3c83c0a8704891d14649087d9c6f2eb4b8191d0da4c4a03ce20e8ea73816fb74a8098de7d65338b0465440b8d400a743ab9fc254f480b7d135534db6fad60842c5cbe3983a8306b838f9a1aed65ec8f0bbbfe556e145b60371ea01a103cedb0531c992347dc2ba81e0dc571d0ba8b6773d2b48e304dc3594d3843e7c878e8f52e9cc1036e98c5bd13df5b9711aa0991c5f6f851898ef9e0792ca68000c263c95a5b3beeaa012062d9f1ef2fb0f82784dd5fc8eab3b58ee176744f64fc75241b56055bf4aaa5d79e3f3374c3241eb1601ee0fbb7cd18f3b5d3dbd320a81594"

      //$("#contact").html($.rc4EncryptStr($("#contact").html(),key),key)
      $("#contact").html($.rc4DecryptStr(data,key));

    </script>
