<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/galleria/galleria-1.2.9.min.js"></script>
    <script type="text/javascript" src="/js/galleria/plugins/flickr/galleria.flickr.min.js"></script>
    <script type="text/javascript">Galleria.loadTheme('/js/galleria/themes/classic/galleria.classic.min.js');</script>
  </head>
  <body>
    <%-body -%>
  </body>
</html>



