
body {
    color:#000000;
    font-family: 'Trebuchet MS', 'Tahoma', 'Arial', 'Helvetica';
    font-size: 0.9em;
    background:url(/img/grid.png); 
    background-repeat: repeat; 
}

.small {
    font-size:0.8em;
}

a {
    color:#222266;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link {
    color:#222266;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blogpost {
    border:1px solid;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: white;    
}



.blogpost h1 {
    font-size: 1.2em;
}

.blogpost h2 {
    font-size: 1.1em;
}
.blogpost h3 {
    font-size: 1em;
}