body {
  color: #000000;
  font-family: 'Trebuchet MS', 'Tahoma', 'Arial', 'Helvetica';
  font-size: 0.9em;
  background: url('/img/grid.png');
  background-repeat: repeat;
  margin: 0px;
}
.small {
  font-size: 0.8em;
}
.smaller {
  font-size: 0.6em;
}
.gimmespace {
  margin: 15px;
}
a {
  color: #444488;
  text-decoration: underline;
}
a:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}
.maindiv {
  border: 1px solid;
  position: absolute;
  top: 25px;
  left: 50%;
  display: block;
  margin-top: 20px;
  margin-left: -200px;
  margin-right: auto;
  padding: 20px;
  width: 400px;
  height: 575px;
  background-color: white;
}
#maincanvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: solid  0px;
  background: url(grid.png);
  background-repeat: repeat;
  background-attachment: scroll;
}
.link {
  color: #222266;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.mainheader {
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 10px;
}
.header.local {
  font-size: 2em;
  margin-right: 20px;
  padding: 5px;
}
.local.a {
  color: 'black';
}
.header.external {
  font-size: 1.5em;
  margin-right: 20px;
  padding: 5px;
}
.blacklink {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.blacklink:hover {
  color: white;
  background: black;
  text-decoration: none;
}
.selected {
  color: white;
  background: black;
}
ul {
  list-style-type: circle;
}
.box {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
}
.box .body {
  margin: 0px;
  padding: 20px;
  background: white;
  border: 1px solid;
}
.box .header {
  margin: 0px;
  padding: 0px;
}
.box .title {
  position: relative;
  bottom: -3px;
  letter-spacing: -1px;
  font-size: 2em;
  font-weight: normal;
  z-index: 1;
  color: black;
}
.box .minititle {
  font-size: 0.7em;
}
.box h1 {
  font-size: 1.2em;
}
.box h2 {
  font-size: 1.1em;
}
.box h3 {
  font-size: 1em;
}
.img {
  width: 97%;
  margin: 10px;
}
p img {
  width: 97%;
  margin: 10px;
}
.flickrimg img {
  width: 97%;
  margin: 10px;
}
.minibiggie {
  font-size: 1.3em;
}
.biggie {
  font-size: 1.5em;
}
.superbiggie {
  font-size: 2em;
}
.galleria {
  height: 700px;
}
.blogpost {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
}
.blogpost .body {
  margin: 0px;
  padding: 20px;
  background: white;
  border: 1px solid;
}
.blogpost .header {
  margin: 0px;
  padding: 0px;
}
.blogpost .title {
  position: relative;
  bottom: -3px;
  letter-spacing: -1px;
  font-size: 2em;
  font-weight: normal;
  z-index: 1;
  color: black;
}
.blogpost .minititle {
  font-size: 0.7em;
}
.blogpost h1 {
  font-size: 1.2em;
}
.blogpost h2 {
  font-size: 1.1em;
}
.blogpost h3 {
  font-size: 1em;
}
.blogpost .date {
  position: relative;
  bottom: -10px;
  right: 10px;
  float: right;
}
.blogpost .date .full {
  font-size: 0.75em;
  color: #333;
}
.blogpost .pic {
  float: left;
  padding-right: 20px;
}
.blogpost .tags {
  position: relative;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  bottom: -8px;
  color: #222266;
  border: 1px solid;
  background: white;
}
.blogpost em {
  text-decoration: underline;
  font-weight: normal;
}
.floatleft {
  width: 50%;
  float: left;
}
.block {
  display: block;
  clear: both;
}
.tagcloud {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 840px;
}
.tagcloud .body {
  margin: 0px;
  padding: 20px;
  background: white;
  border: 1px solid;
}
.tagcloud .header {
  margin: 0px;
  padding: 0px;
}
.tagcloud .title {
  position: relative;
  bottom: -3px;
  letter-spacing: -1px;
  font-size: 2em;
  font-weight: normal;
  z-index: 1;
  color: black;
}
.tagcloud .minititle {
  font-size: 0.7em;
}
.tagcloud h1 {
  font-size: 1.2em;
}
.tagcloud h2 {
  font-size: 1.1em;
}
.tagcloud h3 {
  font-size: 1em;
}
.tagcloud .body {
  font-size: 3em;
}
.code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Nimbus Mono L", Monaco, "Courier New", monospace;
}
blockquote {
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}
